{{extend 'layout.html'}}
    <style>
        .section {
            margin-bottom: 50px;
            padding: 10px;
            border: 2px solid purple;
            background-color: grey;
            padding: 20px;
        }
        .section2 {
            margin-bottom: 10px;
            padding: 5px;
            border: 2px solid purple;
            background-color: #f0f0f0;
            color: #333;
            padding: 5px;
        }
        .text-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-weight: bold;
            font-size: 20px;
            font-stretch: ultra-expanded;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4)
        }
        .title {
            color: Green;
            font-weight: bold;
            font-size: 40px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }
        .image-container {
            margin-bottom: 15px;
        }
         .rounded-image {
            border-radius: 50%;
            overflow: hidden;
            width: 200px;
            height: 250px;
        }
        .bordered-image {
            border: 2px solid green;
            padding: 3px; 
        }
        .slidetime {
            transition: opacity 9s ease-in-out;
        }
        .image-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        }
        .enlarged-image {
        max-width: 80%;
        max-height: 80%;
        cursor: pointer;
        }
    </style>
    <div class="body">
    <div class="section">
    <div class="slidetime";>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
    <div class="mx-auto" style="width: 800px;">
        <img class="container" src="{{=URL('static', 'images/purpleflower.jpg')}}" class="d-block w-100" alt="pf">
        <div class="text-overlay">
        <h2 class="text-center"> Who We Are</h2>
        <p> Joint Ventures is a cannabis dispensary that provides a pathway between nationally recognized cannabis based brands and customers. Annually, we host several events in which we invite several collaborative brands. During these events, we allow these brands the ability to market and sell their products. Based on the results of sales as well as the connections built with our clientele, these brands then have the opportunity to become an official vendor for Joint Ventures, allowing us access to sell their products within our dispensary. This joint collaboration allows clients to purchase products that are not readily available within their area, as well as allows brands to expand their clientele nationally.
            </p></div></div>
    </div>
    <div class="carousel-item">
        <div class="mx-auto" style="width: 800px;">
        <img class="container" src="{{=URL('static', 'images/gummies.jpg')}}" class="d-block w-100" alt="gummies">
        <div class="text-overlay">
        <h2 class="text-center">What We Offer</h2>
            <p> In establishing our joint relationships, we found the importance of not only having a vast amount of brands to purchase from, but a vast amount product types that will service the needs of all clients. We offer a magnitude of products that can be used for both recreational and medical use. We also offer Indica, Sativa, and Hybrid products so that clients can select products specifically from their favorite cannabis strain. From hand grown premium flower, to THC infused soda, there is a product available for everyone. Here at Joint Ventures, everyday is Friday!
            </p></div></div>
        </div>
    <div class="carousel-item">
        <div class="mx-auto" style="width: 800px;">
        <img class="container" src="{{=URL('static', 'images/flower2.jpg')}}" class="d-block w-100" alt="flower">
        <div class="text-overlay">
        <h2 class="text-center">About our Team?</h2>
            <p>Joint Ventures was created in 2024 in the newly legalized state of Ohio by a group of ambitious product experts. The company is equally owned and managed by this team. Meet the stOWNers.</p></div></div>
        </div>
  </div>
  <a class="carousel-control-prev" data-target="#carouselExampleIndicators" type="button" data-slide="prev">
    <button type="button" class="btn btn-outline-dark">Previous</button>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
    <button type="button" class="btn btn-outline-dark">Next</button>
    <span class="sr-only">Next</span>
  </a></div></div></div>
<ul class="list-unstyled">
      <div class="section2">
      <li class="media">
      <div class="image-container">
       <img class="rounded-image bordered-image" src="{{=URL('static', 'images/cara.jpg')}}" onclick="showImagePopup('{{=URL('static','images/cara.jpg')}}')"class="mr-3" alt="Cara"></div>
      <div class="media-body">
      <h5 class="mt-0 mb-1 title">Cara Colker-Eybel</h5>
      <p>Whatever Title you would like</p>
          </div></li></div>
      <div class="section2">
      <li class="media">
      <div class="image-container">
      <img class="rounded-image bordered-image" src="{{=URL('static', 'images/jordan.jpg')}}" onclick="showImagePopup('{{=URL('static', 'images/jordan.jpg')}}')" class="mr-3" alt="Jordan"></div>
      <div class="media-body">
      <h5 class="mt-0 mb-1 title">Jordan Wooley</h5>
      <p>Whatever Title you would like</p>
          </div>
          </li></div>
      <div class="section2">
      <li class="media">
      <div class="image-container">
      <img class="rounded-image bordered-image" src="{{=URL('static', 'images/briana.jpg')}}" onclick="showImagePopup('{{=URL('static', 'images/briana.jpg')}}')" class="mr-3" alt="Briana"></div>
      <div class="media-body">
      <h5 class="mt-0 mb-1 title">Briana Robinson</h5>
      <p>Whatever Title you would like</p>
        </div></div>
          </li></div>
      <div class="section2">
      <li class="media">
      <div class="image-container">
        <img class="rounded-image bordered-image" src="{{=URL('static', 'images/aazaz.jpg')}}" onclick="showImagePopup('{{=URL('static', 'images/aazaz.jpg')}}')" class="mr-3" alt="Aazaz"></div>
      <div class="media-body">
      <h5 class="mt-0 mb-1 title">Aazaz Peer</h5>
      <p>Whatever Title you would like</p>
        </div>
          </li></div>
      <div class="section2">
      <li class="media">
      <div class="image-container">
        <img class="rounded-image bordered-image" src="{{=URL('static', 'images/jeanitha.jpg')}}" onclick="showImagePopup('{{=URL('static', 'images/jeanitha.jpg')}}')" class="mr-3" alt="jeanitha"></div>
      <div class="media-body">
      <h5 class="mt-0 mb-1 title">Jeanitha Houze</h5>
      <p>Whatever Title you would like</p>
        </div>
          </li></div>
</ul></div>
<script>
    function showImagePopup(imageUrl) {
        var popup = document.createElement('div');
        popup.className = 'image-popup';
        var img = document.createElement('img');
        img.src = imageUrl;
        img.className = 'enlarged-image'
        popup.appendChild(img);
        document.body.appendChild(popup);
        popup.onclick = function() {
            document.body.removeChild(popup);
        };
    }
</script>
