{{extend 'layout.html'}}
<head>
    <title>Dashboard</title>
</head>

<div style="width: 100%">
    <div class="container m-auto" style="width: 80%">
        <h2 class="container" style="text-transform: capitalize; color: dark-grey">
            Welcome, {{if auth.user:}}{{=auth.user.first_name}}{{else:}}LOGIN{{pass}}
        </h2>

        <div class="row">
            <!-- Inquiries Column -->
            <div class="col-sm border border-dark rounded container m-3 p-3" style="background-color: #9bd45c">
                <h4>Inquiries</h4>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{=URL('default', 'personal', args=['Call', 'Open'])}}"
                            style="text-decoration: none; color: inherit;">
                            Open Calls
                        </a>
                        <span class="badge badge-primary badge-pill"
                            style="background-color: #8e65ab">{{=open_calls_count}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{=URL('default', 'personal', args=['Call', 'New'])}}"
                            style="text-decoration: none; color: inherit;">
                            New Calls
                        </a>
                        <span class="badge badge-primary badge-pill"
                            style="background-color: #8e65ab">{{=new_calls_count}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{=URL('default', 'personal', args=['Email', 'New'])}}"
                            style="text-decoration: none; color: inherit;">
                            New Emails
                        </a>
                        <span class="badge badge-primary badge-pill"
                            style="background-color: #8e65ab">{{=new_emails_count}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{=URL('default', 'personal', args=['In person', 'New'])}}"
                            style="text-decoration: none; color: inherit;">
                            New in-person Inquiries
                        </a>
                        <span class="badge badge-primary badge-pill"
                            style="background-color: #8e65ab">{{=new_in_person_inquiries_count}}</span>
                    </li>
                </ul>
            </div>

            <!-- New Orders Column -->
            <div class="col-sm border border-dark rounded container bg-dark m-3 p-3" style="color: white">
                <h4>New Orders</h4>
                <div class="list-group">

                    <!-- First item -->
                    <a href="#" type="button" data-toggle="modal" data-target="#Modal1"
                        class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{=recent_orders[0]['name']}}</h6>
                            <small>{{=recent_orders[0]['days_ago']}} days ago</small>
                        </div>
                        <p class="mb-1">{{=recent_orders[0]['state']}}</p>
                    </a>

                   <!-- First Item Modal -->
<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white" id="exampleModalLabel">Customer Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color:#9bd45c" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column align-items-center" style="color: black;">
                <i class="fa-solid fa-user" style="color: #A9A9A9; font-size: 200px;"></i>
                <br>
                <div style="text-align: left;">
                    <b>Customer Name:</b> {{=recent_orders[0]['name']}}<br>
                    <b>Product Name:</b> {{=recent_orders[0]['product']}}<br>
                    <b>Strain:</b> {{=recent_orders[0]['strain']}}<br>
                    <b>Price:</b> ${{="{:.2f}".format(recent_orders[0]['price'])}}<br>
                    <b>Quantity:</b> {{=recent_orders[0]['quantity']}}<br>
                    <b>Order Date:</b> {{=recent_orders[0]['date']}}<br>
                    <b>Stock Quantity:</b> {{=recent_orders[0]['stock']}}<br>
                </div>
            </div>
            <div class="modal-footer bg-dark"></div>
        </div>
    </div>
</div>


                    <!-- Second item -->
                    <a href="#" type="button" data-toggle="modal" data-target="#Modal2"
                        class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{=recent_orders[1]['name']}}</h6>
                            <small>{{=recent_orders[1]['days_ago']}} days ago</small>
                        </div>
                        <p class="mb-1">{{=recent_orders[1]['state']}}</p>
                    </a>

                    <!-- Second Item Modal -->
                    <!-- First Item Modal -->
<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white" id="exampleModalLabel">Customer Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color:#9bd45c" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column align-items-center" style="color: black;">
                <i class="fa-solid fa-user" style="color: #A9A9A9; font-size: 200px;"></i>
                <br>
                <div style="text-align: left;">
                    <b>Customer Name:</b> {{=recent_orders[1]['name']}}<br>
                    <b>Product Name:</b> {{=recent_orders[1]['product']}}<br>
                    <b>Strain:</b> {{=recent_orders[1]['strain']}}<br>
                    <b>Price:</b> ${{="{:.2f}".format(recent_orders[1]['price'])}}<br>
                    <b>Quantity:</b> {{=recent_orders[1]['quantity']}}<br>
                    <b>Order Date:</b> {{=recent_orders[1]['date']}}<br>
                    <b>Stock Quantity:</b> {{=recent_orders[1]['stock']}}<br>
                </div>
            </div>
            <div class="modal-footer bg-dark"></div>
        </div>
    </div>
</div>


                    <!-- Third item -->
                    <a href="#" type="button" data-toggle="modal" data-target="#Modal3"
                        class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{=recent_orders[2]['name']}}</h6>
                            <small>{{=recent_orders[2]['days_ago']}} days ago</small>
                        </div>
                        <p class="mb-1">{{=recent_orders[2]['state']}}</p>
                    </a>
                </div>
            </div>

            <!-- Third Item Modal -->
            <!-- First Item Modal -->
<div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white" id="exampleModalLabel">Customer Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color:#9bd45c" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column align-items-center" style="color: black;">
                <i class="fa-solid fa-user" style="color: #A9A9A9; font-size: 200px;"></i>
                <br>
                <div style="text-align: left;">
                    <b>Customer Name:</b> {{=recent_orders[2]['name']}}<br>
                    <b>Product Name:</b> {{=recent_orders[2]['product']}}<br>
                    <b>Strain:</b> {{=recent_orders[2]['strain']}}<br>
                    <b>Price:</b> ${{="{:.2f}".format(recent_orders[2]['price'])}}<br>
                    <b>Quantity:</b> {{=recent_orders[2]['quantity']}}<br>
                    <b>Order Date:</b> {{=recent_orders[2]['date']}}<br>
                    <b>Stock Quantity:</b> {{=recent_orders[2]['stock']}}<br>
                </div>
            </div>
            <div class="modal-footer bg-dark"></div>
        </div>
    </div>
</div>


            <!-- Shoutouts Column -->
            <div class="col-sm border border-dark rounded container m-3 p-3" style="background-color: #8e65ab">
                <h4 style="color: white">Shoutout</h4>
                <div class="card" style="width: 18rem">
                    {{=IMG(_src=URL('static', 'images/C-Codington.jpg'), _alt="stock-image-woman", _width="100%")}}
                    <div class="card-body">
                        <h5 class="card-title">Cleveland Codington</h5>
                        <p class="card-text">Welcome to the IT team!</p>
                        <a href="shoutouts.html" target="_blank" class="btn btn-dark">Show some love</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center my-4">
            <div id="pie" style="display: inline-block;"></div>
        </div>
    </div>
<!-- Dashboard-Slideshow-->
</br>

     <!--Slideshow-->
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
  </ol>
    
    <!--Slide1-->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/crm/static/images/slide-1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg-dark">
        <h5>Lowell Herb Co.</h5>
        <p>Salinas, California</p>
      </div>
    </div>
     
       <!--Slide2-->
    <div class="carousel-item">
     <img src="/crm/static/images/Slide-2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg-dark">
        <h5>Willie's Reserve</h5>
        <p>Denver, Colorado</p>
      </div>
    </div>
      
       <!--Slide3-->
    <div class="carousel-item">
   <img src="/crm/static/images/slide-3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg-dark">
        <h5>Natures Medicines</h5>
        <p>East Wareham, Massachusetts</p>
      </div>
    </div>
      
     <!--Slide4-->
    <div class="carousel-item">
   <img src="/crm/static/images/Slide-4.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg-dark">
        <h5>Siskiyou Sungrown</h5>
        <p>Williams, Nevada</p>
      </div>
    </div>
  
     <!--Slide5-->
    <div class="carousel-item">
   <img src="/crm/static/images/slide-5.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg-dark">
        <h5>AbsoluteXtracts</h5>
        <p>Santa Rosa, California</p>
      </div>
    </div>
  </div>
    </div>
    
    <!--Pie-->

    <div class="container text-center my-4">
        <div id="pie" style="display: inline-block;"></div>
    </div>
    </div>
    </div>
    <script>
</div>
<script>
    xdata = [];
    ydata = [];
    myColors = ["#9BD45C", "#4D4B4B", "#8E65AB"];
    {{ for row in rows: }}
           xdata.push("{{ =row['strain'] }}");
           ydata.push({{ =row['howmany'] }});
    {{ pass }}
    var data = [{
        values: ydata,
        labels: xdata,
        type: 'pie',
        marker: {
              colors: myColors}
    }];
    var layout = {
       height: 600,
       width: 500,
       title: 'Sales By Strain'
    };
    Plotly.newPlot('pie', data, layout);
</script>
