{{extend 'layout.html'}}

<script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script>

<div class="container m-auto" style="width: 80%">
    <h2 class="container" style="text-transform: capitalize; color: dark-grey">
        Welcome, {{if auth.user:}}{{=auth.user.first_name}}{{else:}}LOGIN{{pass}}
    </h2>

    <div class="row">
        <div class="col-sm border border-dark rounded container m-3 p-3" style="background-color: #9bd45c">
            <h4>Inquiries</h4>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Open
                    <span class="badge badge-primary badge-pill" style="background-color: #8e65ab">6</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    New Calls
                    <span class="badge badge-primary badge-pill" style="background-color: #8e65ab">3</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    New Emails
                    <span class="badge badge-primary badge-pill" style="background-color: #8e65ab">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    New in-person Inquiries
                    <span class="badge badge-primary badge-pill" style="background-color: #8e65ab">1</span>
                </li>
            </ul>
        </div>
        
        <div class="col-sm border border-dark rounded container bg-dark m-3 p-3" style="color: white">
            <h4>New Orders</h4>
            <div class="list-group">
                {{for order in recent_orders:}}
                <a href="/crm/default/orders/view/{{=order['id']}}" target="_blank" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">{{=order['name']}}</h6>
                        <small>{{=order['days_ago']}} days ago</small>
                    </div>
                    <p class="mb-1">{{=order['state']}}</p>
                </a>
                {{pass}}
            </div>
        </div>
        
        <div class="col-sm border border-dark rounded container m-3 p-3" style="background-color: #8e65ab">
            <h4 style="color: white">Shoutout</h4>
            <div class="card" style="width: 18rem">
                {{=IMG(_src=URL('static', 'images/C-Codington.jpg'), _alt="stock-image-woman", _width="100%")}}
                <div class="card-body">
                    <h5 class="card-title">Cleveland Codington</h5>
                    <p class="card-text">Welcome to the IT team!</p>
                    <a href="https://padlet.com/ccolkereybel/my-artistic-wall-af353wi7an26" target="_blank" class="btn btn-dark">Show some love</a>
                </div>
            </div>
        </div>
    </div>

   <div class="container text-center my-4">
        <div id="pie" style="display: inline-block;"></div>
    </div>
    <script>
        xdata = [];
        ydata = [];
        myColors = ["#9BD45C", "#4D4B4B", "#8E65AB"];
        {{ for row in rows: }}
               xdata.push("{{ =row['strain'] }}");
               ydata.push({{ =row['howmany'] }});
        {{ pass }}
        var data = [{
            values: ydata,
            labels: xdata,
            type: 'pie',
            marker: {
                  colors: myColors}
        }];
        var layout = {
           height: 600,
           width: 500,
           title: 'Sales By Strain'
        };
        Plotly.newPlot('pie', data, layout);
    </script>
</div>
