<!DOCTYPE html> <!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{=T.accepted_language or 'en'}}">
	<!--<![endif]-->
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}" />
		<link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap4.css')}}" />
		<link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon" />
		<link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}" />
		<!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
		<script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
		<style>
			.nav-item.dropdown {
				margin-left: auto;
			}
		</style>
	</head>
	<body>
		<!-- Favicons -->
		{{include 'web2py_ajax.html'}}
		<!-- this includes jquery.js, calendar.js/.css and web2py.js -->
		{{if 'auth' in globals():}}

		<!-- Navigation -->
    <ul class="nav nav-tabs nav-container">
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{{=URL('default','index')}}">{{=T('Dashboard')}}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{=URL('default','brands')}}">{{=T('Brands')}}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{=URL('default','customers')}}">{{=T('Customers')}}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{=URL('default','events')}}">{{=T('Events')}}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{=URL('default','products')}}">{{=T('Products')}}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{=URL('default','orders')}}">{{=T('Orders')}}</a>
			</li>
      <li class="nav-item">
				<a class="nav-link" href="{{=URL('default','cannalytics')}}">{{=T('Cannalytics')}}</a>
			</li>
	
			<!-- Login -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{if auth.user:}}{{=auth.user.first_name}}{{else:}}LOGIN{{pass}}
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					{{if auth.user:}}
					<a class="dropdown-item" href="{{=URL('default','user/profile')}}">{{=T('Profile')}}</a>
					{{if 'change_password' not in auth.settings.actions_disabled:}}
					<a class="dropdown-item" href="{{=URL('default','user/change_password')}}">{{=T('Change Password')}}</a>
					{{pass}}
					<a class="dropdown-item" href="{{=URL('default','user/logout')}}">{{=T('Logout')}}</a>
					{{else:}}
					<a class="dropdown-item" href="{{=URL('default','user/login')}}">{{=T('Login')}}</a>
					{{if 'register' not in auth.settings.actions_disabled:}}
					<a class="dropdown-item" href="{{=URL('default','user/register')}}">{{=T('Sign up')}}</a>
					{{pass}} {{if 'retrieve_password' not in auth.settings.actions_disabled:}}
					<a class="dropdown-item" href="{{=URL('default','user/retrieve_password')}}">{{=T('Lost Password')}}</a>
					{{pass}} {{pass}}
				</div>
			</li>
		</ul>

		{{pass}}

		<!-- Main ========================================= -->
		<!-- Begin page content -->
		<div class="container-fluid main-container">
			{{include}} {{=response.toolbar() if response.show_toolbar else ''}}
		</div>
	</body>
	<!-- The javascript =============================== -->
	<script src="{{=URL('static','js/bootstrap.bundle.min.js')}}"></script>
	<script src="{{=URL('static','js/web2py-bootstrap4.js')}}"></script>
</html>
